@font-face {
    font-family: title;
    src: url('../asset/PPEiko-Medium.otf') format('OpenType');
}

@font-face {
    font-family: text;
    src: url('../asset/PPNeueMontreal-Medium.otf') format('OpenType');
}

:root{
    --text: 'text', 'sans serif';
    --title: 'title', 'sans serif';
    --primary-color: #eeeeee;
    --secondary-color: #F9B466;
}

body{
    background-color: var(--primary-color);
    margin:  0;
    padding: 0;
}

/* NAVBAR */
nav{
    z-index: 1;
    position: fixed;
    background-color: var(--primary-color);
    top: 0;
    width: 100%;
    height: 7em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .kiri{
    margin-left: 2em;
    display: flex;
    align-items: center;
    gap: 1em;
}

nav .kiri img{
    z-index: 0;
    width: 7em;
    mix-blend-mode: multiply;
}

nav .kiri .title{
    font-family: var(--title);
    font-size: 28px;
    font-weight: 800;
}


nav .kanan{
    display: flex;
    gap: 2em;
    margin-right: 3em;
}

nav .kanan a{
    text-decoration: none;
    color: black;
    font-family: var(--text);
}

/* CONTENT */
.container{
    margin: 10em 5em 10em 5em;

}

table{
    border: 1px solid black;
    width: 100%;
}

.number{
    width: 5%;
    text-align: center;
}

mark{
    background-color: var(--secondary-color);
    font-style: italic;
}

.table-head{
    background-color: var(--secondary-color);
    text-align: center;
}

td{
    padding: 1em;
    height: 2em;
    font-family: var(--text);
}